.carrito {
  display: flex;
  gap: 2rem;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  min-height: 100px;
  flex-wrap: wrap;
}
.carritoescondido {
  display: none;
}
.title {
  text-align: center;
}
.invertido {
  transform: rotate(180deg);
  transition: 0.5s;
}

.normal {
  transition: 0.5s;
}
